.video-container {
  height: 50vh;
  position: relative;
  overflow: hidden;
  @media(min-width: 600px) {
    height: 100vh;
  }
}

video {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
}

* {
  box-sizing: border-box;
}
